.loading-modal {
  display: flex;
  z-index: 1000;
  position: fixed;
  top: 0;
  left: 0;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
}

.loading-text {
  color: #fff;
  font-weight: bold;
  font-size: 1.5rem;
}

// Loading spinner
.pokeball {
  position: relative;
  width: 200px;
  height: 200px;
  background: url('../assets/loading.png') no-repeat center/contain;

  &--loading {
    animation: shake-loading 1.5s cubic-bezier(0.36, 0.07, 0.19, 0.97) infinite;
  }
  &--complete {
    animation: shake-complete 2s cubic-bezier(0.36, 0.07, 0.19, 0.97) infinite;
  }

  &__button {
    z-index: 10;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 26px;
    height: 26px;
    transform: translate(-50%, -50%);
    border: 2px solid #37464e;
    border-radius: 50%;
    background: #fff;

    &--loading {
      animation: blink-loading 1.5s ease-in-out infinite;
    }
    &--complete {
      animation: blink-complete 2s ease-in-out infinite;
    }
  }
}

@keyframes shake-loading {
  0% {
    transform: translate(0, 0) rotate(0);
  }
  20% {
    transform: translate(-10px, 0) rotate(-20deg);
  }
  30% {
    transform: translate(10px, 0) rotate(20deg);
  }
  50% {
    transform: translate(-10px, 0) rotate(-10deg);
  }
  60% {
    transform: translate(10px, 0) rotate(10deg);
  }
  100% {
    transform: translate(0, 0) rotate(0);
  }
}

@keyframes shake-complete {
  0% {
    transform: translate(0, 0) rotate(0);
  }
  10% {
    transform: translate(-10px, 0) rotate(-10deg);
  }
  20% {
    transform: translate(10px, 0) rotate(10deg);
  }
  40% {
    transform: translate(0, 0) rotate(0);
  }
  100% {
    transform: translate(0, 0) rotate(0);
  }
}

@keyframes blink-loading {
  0% {
    background: #eee;
  }
  50% {
    background: #f26e62;
    box-shadow: 0 0 20px 10px #f26e62;
  }
  100% {
    background: #eee;
  }
}

@keyframes blink-complete {
  0% {
    background: #eee;
  }
  50% {
    background: #94feb9;
    box-shadow: 0 0 20px 10px #94feb9;
  }
  100% {
    background: #eee;
  }
}
